@import url(https://fonts.googleapis.com/css?family=Raleway:200,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic-ext);

@keyframes blinker {
    0% { background-color: #E0E0E0; border: 2px solid #A0A0A0; }
    49% { background-color: #E0E0E0; border: 2px solid #A0A0A0; }
    50% { background-color: #FF8080; border: 2px solid red; }
    100% { background-color: #FF8080; border: 2px solid red; }
}

@keyframes attn {
    0% { background-color: #fff0f0; border: 2px solid silver; }
    49% { background-color: #fff0e0; border: 2px solid orange; }
    50% { background-color: #fff0e0; border: 2px solid orange; }
    100% { background-color: #fff0f0; border: 2px solid silver; }
}

.heading {
    padding: 2em;
    background-image: url(tibbo.svg);
    background-size: 200px 100px;
    padding-left: 250px;
    background-repeat: no-repeat;
    background-position: 2em 2em;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.main_heading {
    font-family: Raleway, sans-serif;
    font-size: 48px;
    font-weight: 200;
}

.main_heading_descr {
    font-weight: 200;
    font-size: 22px;
}

.numeric, .numeric-red {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    background-color: #E0E0E0;
    border: 2px solid #A0A0A0;
    padding: 6px;
    text-align: center;
    margin-right: 0.5em;
}

.numeric-red {
    background-color: #FF8080;
    border-color: red;
}

.numeric-none {
    width: 24px;
    height: 24px;
}

.numeric div {
    font-size: 18px;
    font-weight: 500;
}

.numeric-red div {
    color: white;
    font-size: 18px;
    font-weight: 500;
    
}

.blinker {
    -webkit-animation: blinker 1s step-start infinite;
    animation: blinker 1s step-start infinite;
}

.body, input, select, button {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    box-sizing: border-box;
}

select, input, button, input[type=file] {
    font-weight: 500;
    padding: 3px 8px 3px 8px;
}

input:not([type]), input[type=text], input[type=password] {
    min-width: 15em;
}

select.wide {
    min-width: 15em;
}

select.tibbit {
	min-width: 25em;
}


input[type=checkbox] + label {
    padding-left: 0.5em;
}

.subheading {
    padding-bottom: 1em;
}

.body {
    padding: 2em;
    padding-top: 0em;
}

div.formrow {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.formrow:last-child {
    padding-bottom: 1em;
}

div.subrow {
    margin-left: 100px;
}

div.btnbar {
    padding-bottom: 0.5em;
}

div.l_win {
    display: inline-block;
    min-width: 10em;
}

span.afti {
    margin-left: 0.75em;
}

fieldset {
    display: inline-block;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid silver;
    border-radius: 1em;
    background-color: #f8f8f8;
    min-width: 60em;
}

legend {
    text-shadow: 1px 1px rgb(180,180,180);
    margin-bottom: 0.33em;
}

label {
    padding: 0;
    margin: 0;
    margin-right: 0.5em;
}

label.f_lbl {
    display: inline-block;
    min-width: 5em;
}

div.back {
    margin-top: 0.5em;
}

div.back a {
    text-decoration: none;    
}

div.banner {
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: 2px solid silver;
    display: inline-block;
/*    width: 21em; */
    height: 7em;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 210px 8px;
	flex-basis: 28%;
	flex-grow: 1;
	flex-shrink: 1;
    position: relative;
}

div.banner-attn {
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #fff0e0;
    border-radius: 4px;
    border: 2px solid orange;
    display: inline-block;
/*    width: 21em; */
    height: 7em;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 210px 8px;
/*    -webkit-animation: attn 1s ease-in-out infinite;
    animation: attn 1s ease-in-out infinite; */
	flex-basis: 28%;
	flex-grow: 1;
	flex-shrink: 1;
    
}

div.banner_status {
    border: 0px dotted gray;
    margin-top: 0.3em;
    position: absolute;
    bottom: 0;
    width: calc(100% - 9px);
    margin-left: -1em;
    border-radius: 0px 0px 3px 3px;
    padding: 4px;
    background-color: white;
    text-align: center;
}

div.banner_row {
}

div.banner_flex_outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
	max-width: 80em;
}

a.banner_link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div.banner_info {
    margin-top: 1em;
    font-size: 9pt;
}

div.footer {
    font-size: small;
    margin-top: 2em;
}

span.spl {
    padding-left: 4em;
}

div.greenzone {
    display: inline-block;
    background-color: rgb(128,255,128);
    width: 10em;
    text-align: center;
    height: 23px;
    border: 0;
    padding: 4px;
}

input.R {
    border: 4px solid red;
}

input.Y {
    border: 4px solid rgb(255,200,0);
}

input.zv {
    width: 5em;
}

input[type=button], input[type=submit], input[type=reset] {
/*    margin-left: 1em; */
    min-width: 6em;
}

input + input, select + input, input + select, select+select, select+span, select+label {
    margin-left: 1em;
}

span.uart {
    padding: 3px;
    display: inline-block;
    width: 20px;
    border: 1px solid #C0C0C0;
    margin-left: 1em;
    border-radius: 4px;
    font-size: 8px;
    color: #C0C0C0;
    text-align: center;
}


.l_win + input, .l_win + select {
    margin-left: 0;
}


td.padded {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

th {
    height: 32px;
    background-color: #c0c0c0;
}

th:first-child {
    border-radius: 8px 0 0 0;
}

th:last-child {
    border-radius: 0px 8px 0 0;
}

table {
    margin-top: 0.5em;
}

table.tab tbody td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 2em;
}

table.tab tbody td:first-child {
    border-left: 1px solid #c0c0c0;
}

table.tab tbody td:last-child {
    border-right: 1px solid #c0c0c0;
}

table.tab tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}

table.tab tbody tr:last-child {
    border-bottom: 1px solid #c0c0c0;
}

select:required:invalid {
  color: silver;
}

option {
  color: black;
}

option[value=""][disabled] {
  display: none;
  color: silver;
}

table.ht tbody tr {
    height: 2.5em;
}

div.brackets {
    border: 2px solid black;
    border-top: 0;
    width: auto;
    height: 8px;
    margin-top: 4px;
    border-radius: 0 0 10px 10px;
}

div.pin {
    width: 2px;
    height: 8px;
    background-color: black;
    border: 0;
}

div.msg {
    background-color: #A0FFA0;
    border: 2px solid #80A080;
    padding: 1em;
    border-radius: 8px; 
    display: none;
    font-weight: bold;
    float: left;
}

div.err {
    background-color: #FFA0A0;
    border: 2px solid #A08080;
    padding: 1em;
    border-radius: 8px; 
    display: none;
    font-weight: bold;
    float: left;
}

span.info {
    font-style: italic;
    font-size: small;
    padding-left: 1em;
}

.top {
    vertical-align: top;
}

/*
input.left {
    margin-left: 4px;
}
*/

div.form-wrapper {
    display: table
}

div.form-wrapper > div{
    display: table-row
}

div.form-wrapper > div > *{
    display: table-cell;
    margin:5px;
}

div.cb {
	display: inline-block;
	position: relative;
	float: right;
}

div.fixsz {
	min-width: 25em;
	display: inline-block;
}

div.nod {
    display: inline-block;
	border: 1px solid gray;
    border-radius: 4px;
    padding: 4px 2em 4px 2em;
    background-color: #e0e0e0;
	font-weight: bold;
}

div.senserr {
    display: inline-block;
	border: 1px solid red;
    border-radius: 4px;
    padding: 4px 2em 4px 2em;
    background-color: #e08080;
	font-weight: bold;
}

div.sensfnd {
    display: inline-block;
    border: 1px solid #80A080;
    border-radius: 4px;
    padding: 4px 2em 4px 2em;
    background-color: #A0FFA0;
    font-weight: bold;
}

div.lrpad {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
}

.hid {
	display: none;
}

img#l {
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: none;
}

.filedata {
    padding: 1em;
    background-color: #f0f0f0;
    border: 1px solid silver;
    max-width: 60em;
}

div.404 {
	background: url(404.svg);
}

tr.yellow {
    background-color: rgb(255, 224, 0);
}

tr.red {
    background-color: red;
}

